html {
    min-height: 100%;
}

body {
    background: linear-gradient(-45deg, #2144fb 0%, #3862fd 50%, #4f81ff 100%);
    min-height: 100%;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.btn-block {
    color: #495057 !important;
    background: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out .5s;
}

.btn-block::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 25%;
    height: 100%;
    width: 50%;
    background-color: #000;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 1s;
    transform: scale(5, 5);
}

.btn-block:active::after {
    padding: 0;
    margin: 0;
    opacity: .2;
    transition: 0s;
    transform: scale(0, 0);
}

.btn.back {
    margin-top: 10px;
}

.container {
    max-width: 400px;
}

footer {
    margin-top: 30px;
    background: #666;
}

.col {
    padding: 5px;
}

h2 {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
}

h3 {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
}

select {
    margin-top: 10px;
}

select:first-child {
    margin-top: 0;
}

.pads-12 .pad-container:nth-child(4n) {
    opacity: 0.2;
}

.pads .pad {
    background: #666;
    box-shadow: inset 0 0 1.5em rgba(0, 0, 0, .35);
}

.pads .pad.active {
    background: #fff;
}

.pad {
    text-align: center;
    white-space: nowrap;
}

.pad:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.pad-name {
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
}

.collection .pads {
    margin-bottom: 15px;
}
