html {
    min-height: 100%;
}

body {
    background: linear-gradient(-45deg, #2144fb 0%, #3862fd 50%, #4f81ff 100%);
    min-height: 100%;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 400px;
}

footer {
    margin-top: 30px;
    background: #666;
}

.col {
    padding: 5px;
}

h2 {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0;
}

select {
    margin-top: 10px;
}

select:first-child {
    margin-top: 0;
}

.pads-12 .pad-container:nth-child(4n) {
    opacity: 0.2;
}

.pads .pad {
    background: #666;
    box-shadow: inset 0 0 1.5em rgba(0, 0, 0, .35);
}

.pads .pad.active {
    background: #fff;
}

.pad {
    text-align: center;
    white-space: nowrap;
}

.pad:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.pad-name {
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
}
